<!DOCTYPE html>
<html lang="ru">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <title>
        {% block title %}
        {% endblock title %}
      </title>
  </head>
  {% load draw_menu %}
  <body>
    <main>
        {% block content %}
            {% comment %} {% for menu in menues %}
              <article class="menu">
                {{ menu.chield_name }}
                {{ id }}
              </article>
            {% endfor %} {% endcomment %}
            <br>
            {% draw_menu id %}
        {% endblock %}
    </main>
  </body>
</html>